@media only screen and (min-width: 769px) {
  #header-main {
    height: 85px;
  }

  header h1 {
    font-size: 48px;
  }

  nav {
    height: 0;
  }
  nav ul {
    font-size: 28px;
    position: absolute;
    top: 29px;
    right: 20px;
  }

  #hero {
    height: 125px;
  }

  figure section {
    font-size: 36px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
  .content-header {
    flex: 0 0 19%;
    border-bottom: none;
    border-right: solid #08094d 4px;
  }

  .content-header h2 {
    font-size: 36px;
    text-align: end;
    margin-right: 15px;
  }

  .content-section {
    flex: 0 0 79%;
    margin-bottom: 15px;
  }

  .work-card h3 {
    font-size: 25px;
  }

  #first-card h3 {
    font-size: 36px;
  }

  #first-card {
    flex: 0 0 100%;
  }
  .work-card {
    flex: 0 0 calc(50% - 10px);
  }
  .left-card, .right-card {

  margin-top: 20px;
}

}
